*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heartCompleted {
  display: none;
}
.active .heart {
  display: none;
}
.active .heartCompleted {
  display: block;
}
